//colors
$c-orangered: #ff4500;
$c-white: #FFF;
$c-black: #000;
$c-orange-dark: darkorange;
$c-yellow: yellow;
$c-blue: #007bff;
$c-sand: #FFECE5;
$c-grey: grey;

//fonts
$f-fsc: 'Fira Sans Condensed', sans-serif;
$f-monoton: 'Monoton', cursive;
$f-fascinate: 'Fascinate Inline', cursive;
$f-sigmarone: 'Sigmar One', cursive;